<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Food List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body style="text-align: center">
    <h1>Menu Fox Restaurants</h1>
    {% for f in f_list %}
        <h3>{{ f.name }}</h3>
        <div>{{ f.price }}</div>
        <a href="/food/{{ f._id }}">Detail</a>
    {% endfor %}
</body>
</html>