<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="header"> Welcome to Bike Store </div>
    <div>
        {% for item in item_list %}
            <h1>Name Bike: {{ item.Model }}</h3>
            <a href="/bike/{{ loop.index }}">Detail</a>
        {% endfor %}
    </div>
</body>
</html>